<configuration ><!--debug="true"-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder><pattern>%d{HH:mm:ss.SSS} ~ %-5level ~ %-10logger{16} ~ %msg%n</pattern></encoder>
    </appender>
    <appender name="ROOT_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${ST_APPSTORAGE}/logs/server_root.log</file>
        <encoder><pattern>%d{HH:mm:ss.SSS} ~ %-5level ~ %-10logger{16} ~ %msg%n</pattern></encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${ST_APPSTORAGE}/logs/archived/server_root.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
    </appender>


    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
    <root level="debug">
        <appender-ref ref="ROOT_FILE" />
    </root>
</configuration>